<nav class="flex bg-green-800 text-white">
  <ul class="flex flex-row gap-2">
    <li>
      <a
        [routerLink]="['/app-profile']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Profile</a
      >
    </li>
    <li>
      <a [routerLink]="['/app-addnewfood']" routerLinkActive="active"
        >Add New Food</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/app-addnewset']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Add New Set</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/app-showallset']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Show All Sets</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/app-signin']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >SignIn</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/app-signup']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >SignUp</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/app-signin']"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="logout()"
        >LogOut</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
